
@for $i from 0 through 5 {
  .sp {
    &-bottom-#{$i} {
      margin-bottom: #{$base-spacing-unit * $i};

      &-mobile {
        @media (max-width: $breakpoint-mobile-max) {
          margin-bottom: #{$base-spacing-unit * $i};
        }
      }

      &-desktop {
        @media (min-width: $breakpoint-tablet-min) {
          margin-bottom: #{$base-spacing-unit * $i};
        }
      }
    }

    &-right-#{$i} {
      margin-right: #{$base-spacing-unit * $i};

      &-mobile {
        @media (max-width: $breakpoint-mobile-max) {
          margin-bottom: #{$base-spacing-unit * $i};
        }
      }

      &-desktop {
        @media (min-width: $breakpoint-tablet-min) {
          margin-bottom: #{$base-spacing-unit * $i};
        }
      }
    }
  }
}
