.c-blade {
  @include clearfix;
  &__text {
    padding: 6em 2em;

    @media (min-width: $breakpoint-tablet-min) {
      padding: 2em 15%;
    }
  }

  &__media {
    overflow: hidden;
  }

  &__image {
    width: 100%;
  }
}
