.c-bubble {
  background-color: $color-gray-15;
  border-radius: 50%;
  display: inline-block;
  height: 50px;
  margin-right: .5em;
  overflow: hidden;
  position: relative;
  vertical-align: middle;
  width: 50px;

  &--small {
    font-size: $font-size-micro;
    height: 25px;
    padding: 0;
    width: 25px;
  }

  &--secondary-dark {
    background-color: $color-secondary-dark;
    color: $color-white;
  }

  &--secondary-darkest {
    background-color: $color-secondary-darkest;
    color: $color-white;
  }
}
