.c-feature {

  &__item {
    //background-color: $color-gray-15;
    // border-radius: 50%;
    // height: 180px;
    margin: 0 auto 1em;
    // overflow: hidden;
    // position: relative;
    // width: 180px;
  }

  &__media {
    // @include absolute-center;
    max-width: 200px;
  }
}
