
.label-inline {
  @include rem-fallback(font-size, $font-size-xxs);
  display: inline-block;
  line-height: 2.5;
}

.field-full {
  display: inline-block;
  width: 100%;
}

.field-error {
  border: 1px solid $color-utility-negative;
  box-shadow: 0 0 5px $color-utility-negative;
  outline: none;
}
