//
// Header
// -----------------------------------------------------

.header {
  background-color: $color-white;
  box-shadow: 0 1px 2px 0 rgba($color-gray-35, .7);
  padding: 10px 0;
  position: relative;

  @media (min-width: $breakpoint-tablet-min) {
    padding: 10px 0;
  }

  &__wrapper {
    position: relative;
  }

  &__logo {
    float: left;
    margin: 0;
    max-width: 300px;


    > a {
      @include hidetext;
      background: url($image-path + '/logo.png') no-repeat 0 center;
      background-size: contain;
      display: block;
      height: 60px;
      max-width: 120px;
      width: 100%;
    }
  }

  &__nav {
    @include vertically-center;
    right: 0;
  }

  &__btn {
    @include offscreen;
    background: transparent;
    border: 0 none;
    cursor: pointer;
    display: block;
    float: right;
    height: 60px;
    outline: none;
    position: relative;
    transition: background-color .2s ease-in-out;
    width: 40px;

    .line,
    .line::after,
    .line::before {
      background-color: red;
      display: block;
      height: 3px;
      width: 30px;
    }

    .line {
      margin: 0 auto;
      position: relative;
      top: 0;
      transition: all .2s  ease-in-out;

      &::before,
      &::after {
        content: '';
        position: absolute;
      }

      &::before {
        margin-top: -8px;
        transition: all .2s  ease-in-out;
      }

      &::after {
        margin-top: 8px;
        transition: all .2s  ease-in-out;
      }
    }

    &--active {

      .line,
      .line::after,
      .line::before {
        background-color: red;
      }

      .line {
        background-color: rgba(0, 0, 0, 0);

        &::before {
          margin-top: 0;
          transform: rotate(45deg);
          transition: all .2s  ease-in-out;
        }

        &::after {
          margin-top: 0;
          transform: rotate(-45deg);
          transition: all .2s  ease-in-out;
        }
      }
    }
  }
}

.header-secondary {
  @include clearfix;
  background-color: $color-primary;
  color: $color-white;
  padding: 3px 0;
}
