.c-hero {
  position: relative;

  &__wrap {
    width: 100%;

    @media (min-width: $breakpoint-tablet-min) {
      @include vertically-center;
    }
  }

  &__text {
    // background-color: rgba($color-white, 0.5);
    // padding: 1em 2em;
  }
}

.c-hero--primary {
  background-color: $color-black;
  // background: url($image-path + '/food-2.jpg') no-repeat center center $color-black;
  // background-size: cover;
  overflow: hidden;
  padding: 2em 0;

  @media (min-width: $breakpoint-tablet-min) {
    min-height: 30em;
    padding: 0;
  }
}

.c-hero--secondary {
  height: 100px;
}


.c-rotator-word {
  display: block;
  text-indent: 2px;
  // span {
  //   position: absolute;
  //   opacity: 0;
  //   overflow: hidden;
  //   animation: topToBottom 6s linear infinite 0s;
  // }
  // span:nth-child(1) {
  // 	animation-delay: 0s;
  // }
  // span:nth-child(2) {
  // 	animation-delay: 2s;
  // }
  // span:nth-child(3) {
  // 	animation-delay: 4s;
  // }
}
