//
// Base Layout
// -----------------------------------------------------

html,
body {
  height: 100%;
}

body {
  background-color: $color-white;
  color: $color-gray-65;
  font-family: $font-family-secondary;
  min-width: 320px;
}

.content-wrapper {
  @include clearfix;
  margin-left: auto;
  margin-right: auto;
  max-width: $container-width-tablet;
  width: calc(100% - 40px);

  @media (min-width: $breakpoint-tablet-min) {
    max-width: $container-width-tablet;
    width: calc(100% - 60px);
  }

  @media (min-width: $breakpoint-desktop-min) {
    max-width: $container-width-desktop;
  }

}
