.link-minor {
  color: lighten($color-secondary, 15);
  display: inline-block;
  text-decoration: underline;
  &:hover,
  &:active {
    color: $color-secondary;
    text-decoration: underline;
  }
}
