.nav-main {
  margin: 0;
  padding: 0;

  @media (min-width: $breakpoint-tablet-min) {
    float: right;
  }

  &__item {
    display: inline-block;
    padding: 0 $base-spacing-unit * 2;
    position: relative;

    &:last-child {
      padding-right: 0;
    }

    // Separator gray
    &:not(:last-child) {
      &::after {
        @include vertically-center;
        background-color: $color-gray-65;
        content: '';
        display: block;
        height: 100%;
        right: 0;
        width: 1px;
      }
    }
  }

  &__link {
    // border-bottom: 2px solid transparent;
    color: $color-gray-65;
    display: block;
    font-family: $font-family-primary;
    text-transform: uppercase;

    @media (min-width: $breakpoint-tablet-min) {
      font-size: $font-size-base - .2;
    }


    &:hover,
    &:focus {
      color: darken($color-gray-65, 18);
    }
  }
}

.c-menu-dropdown {
  background-color: $color-primary-dark;
  box-shadow: inset 0 4px 4px 0 rgba($color-primary-darker, .6);
  display: none;
  padding: 20px;
  position: absolute;
  right: 0;
  top: 100%;
  width: 100%;
  z-index: $z-index-above;

  &__item {
    border-bottom: 1px solid $color-primary-darker;
  }

  &__link {
    color: $color-white;
    display: block;
    padding: .5em 1em;

    &:hover,
    &:focus {
      background-color: rgba($color-black, .2);
      color: inherit;

      .c-menu-dropdown__icon {
        opacity: 1;
      }
    }
  }

  &__icon {
    display: inline-block;
    margin-right: .5em;
    opacity: .6;
    vertical-align: middle;
  }

  &__text {
    display: inline-block;
    vertical-align: middle;
  }

  &--active {
    display: block;
  }

  &--secondary-header {
    top: calc(100% + 3px);
  }
}
