.c-pattern-1 {
  background-image: url($image-path + '/pattern-white-wood.jpg');

  @media (min-width: $breakpoint-tablet-min) {
    bottom: 0;
    height: 100%;
    min-height: 400px;
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
  }
}
