.c-quote {

  &__media {
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 1em;
    max-width: 300px;
    width: 100%;
  }

  &__text {
    background-color: $color-white;
    padding: 2rem;
    margin-bottom: 2em;
    position: relative;

    &::after {
      @include vertically-center;
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 15px 26.0px 15px 0;
      border-color: transparent $color-white transparent transparent;
      left: -26px;
    }

  }
}
