.c-slab {
  padding: 4em 0;

  &-gray-02 {
    background-color: $color-gray-02;
  }

  &-gray-15 {
    background-color: $color-gray-15;
  }

  &-white {
    background-color: $color-white;
  }

  &-media-right {
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 45% auto;

    @media (min-width: $breakpoint-tablet-min) {
      background-position: right center;
      background-size: 45% auto;
      min-height: 400px;
    }
  }
}
