// Titles

.c-text-primary {
  font-size: $font-size-l;

  @media screen and (min-width: $breakpoint-tablet-min) {
    font-size: $font-size-xl;
  }
}

.c-text-secondary {
  font-size: $font-size-s;

  @media screen and (min-width: $breakpoint-tablet-min) {
    font-size: $font-size-m;
  }
}

.c-text-terciary {
  font-size: $font-size-xs;

  @media screen and (min-width: $breakpoint-tablet-min) {
    font-size: $font-size-s;
  }
}

.c-text-quaternary {
  font-size: $font-size-xxs;

  @media screen and (min-width: $breakpoint-tablet-min) {
    font-size: $font-size-xs;
  }
}

.c-text-quinary {
  font-size: $font-size-base;

  @media screen and (min-width: $breakpoint-tablet-min) {
    font-size: $font-size-xxs;
  }
}

.c-text-senary {
  font-size: $font-size-xxxs;
}
