//
// Config Vars
// --------------------------------------------------

// Colors
// --------------------------------------------------


// Colors grays
$color-black:														#000;
$color-gray-73:													#45494b;
$color-gray-65:													#595959;
$color-gray-45:													#899292;
$color-gray-35:													#9ca2a9;
$color-gray-15:													#edf0f3;
$color-gray-02:													#f4f4f4;
$color-white: 													#fff;

// Transparent
$transparent: 													rgba($color-white, 0);

// Color primary
$color-primary: 												#EE6352;
$color-primary-dark:										#C35244;
$color-primary-darker:									#984035;
$color-primary-darkest:									#6D2D26;

// Color secondary
$color-secondary: 											#58B2FD;
$color-secondary-dark:								  #33A1FD;
$color-secondary-darker:                #2A84D0;
$color-secondary-darkest:               #2167A2;

// Color primary alternative
$color-secondary-alt:										#10c645;

// Color Utilities
$color-utility-positive:								$color-secondary-alt;
$color-utility-positive-subtle:					lighten($color-utility-positive, 20);
$color-utility-negative:								#b12a0b;
$color-utility-negative-sublte:					lighten($color-utility-negative, 20);
$color-utility-neutral:									#0192d0;


// Typography
// --------------------------------------------------
$font-family-primary:           				'Open Sans', Helvetica, Arial, sans-serif;
$font-family-secondary:         				'Lora', Helvetica, Arial, sans-serif;

// Path Images / Fonts
// --------------------------------------------------
$image-path:                    				'../assets/images';
$fonts-path:                    				'../fonts';

// Breakpoints sizes
// --------------------------------------------------
$breakpoint-mobile-min:         				30em; 		// 480px
$breakpoint-mobile-max:         				47.938em; // 768px
$breakpoint-tablet-min:         				48em; 		// 769px
$breakpoint-tablet-max:         				61.938em; // 991px
$breakpoint-desktop-min:        				62em; 		// 992px
$breakpoint-desktop-max:      				  75em; 		// 1200px


// Container Widths
// --------------------------------------------------
$container-width-mobile:                360px;
$container-width-tablet:        				750px;
$container-width-desktop:       				970px;
$container-width-desktop-wide:       	  1170px;


// Font sizes
// --------------------------------------------------
$font-size-xxxl: 												4.3em;
$font-size-xxl:                 				3.583em;
$font-size-xl:                  				2.986em;
$font-size-l:                   				2.488em;
$font-size-m:                   				2.074em;
$font-size-s:                  				 	1.728em;
$font-size-xs:                  				1.44em;
$font-size-xxs:                 				1.2em;
$font-size-base:												1em;
$font-size-xxxs:                        .833em;
$font-size-micro:                       .694em;


// Spacing
$base-spacing-unit:											.386em;

// Layers z-index
// A map of z layers
// All z-index values should be set there
// -------------------------
$z-layer-tooltip: 											3;
$z-index-above:													2;
$z-index-default:												1;
