//
// Bootstrap grid using 'em' instead of 'px'.
// It doesn't have the pull-*, push-* or offset-* classes
//

$width:  100%;
$gutter: .938em; // 15px

.container {
  @include clearfix;
  margin-left: auto;
  margin-right: auto;
  padding-left: $gutter;
  padding-right: $gutter;

  @media (min-width: $breakpoint-mobile-max) {
    width: $container-width-tablet;
  }

  @media (min-width: $breakpoint-desktop-min) {
    width: $container-width-desktop;
  }

  @media (min-width: $breakpoint-desktop-max) {
    width: $container-width-desktop-wide;
  }

  &--fluid {
    width: 100%;
  }



  &--small {
    @media (min-width: $breakpoint-tablet-min) {
      max-width: $container-width-mobile;
      width: 100%;
    }
  }

  &--medium {
    @media (min-width: $breakpoint-tablet-min) {
      max-width: $container-width-tablet;
      width: 100%;
    }
  }

  &--large {
    @media (min-width: $breakpoint-tablet-min) {
      max-width: $container-width-desktop;
      width: 100%;
    }
  }
}

.row {
  @include clearfix;
  margin: 0 -#{$gutter};
  position: relative;

  [class^="col-"] {
    float: left;
    padding-left: $gutter;
    padding-right: $gutter;
  }

  &--table {
    @media (min-width: $breakpoint-tablet-min) {
      display: table;

      [class^="col-"] {
        display: table-cell;
        float: none;
        padding: 0;
      }

      .col-middle {
        vertical-align: middle;
      }
    }
  }
}

@for $i from 1 to 13 {
  .col-xs-#{$i} {
    width: round(percentage($i / 12));
  }
}

@media (min-width: $breakpoint-tablet-min) {
  @for $i from 1 to 13 {
    .col-sm-#{$i} {
      width: round(percentage($i / 12));
    }
  }
}

@media (min-width: $breakpoint-desktop-min) {
  @for $i from 1 to 13 {
    .col-md-#{$i} {
      width: round(percentage($i / 12));
    }
  }
}

@media (min-width: $breakpoint-desktop-max) {
  @for $i from 1 to 13 {
    .col-lg-#{$i} {
      width: round(percentage($i / 12));
    }
  }
}
