.o-layout-half {
  @media (min-width: $breakpoint-tablet-min) {
    float: left;
    width: 50%;
  }
}

.o-layout-row {
  @include clearfix;
}


.o-layout-fields {
  float: left;
  width: 45%;
}

.o-layout-field-half {
  float: left;
  width: 50%;
}
