
.o-vertically-center {
  @include vertically-center;

  &-mobile {
    @media (max-width: $breakpoint-mobile-max) {
      @include vertically-center;
    }
  }

  &-desktop {
    @media (min-width: $breakpoint-tablet-min) {
      @include vertically-center;
    }
  }
}

.o-absolute-center {
  @include absolute-center;

  &-mobile {
    @media (max-width: $breakpoint-mobile-max) {
      @include absolute-center;
    }
  }

  &-desktop {
    @media (min-width: $breakpoint-tablet-min) {
      @include absolute-center;
    }
  }
}
