// Links
//
// Styles for the custom links

a {
  color: $color-secondary;
  text-decoration: none;
  transition: color .3s ease-in-out;

  &:hover {
    color: darken($color-secondary, 10);
    text-decoration: none;
  }
}
