select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  // background: url($image-path + '/arrow-dropdown.png') no-repeat calc(100% - 8px) center;
  // background-size: auto 4px;
  border: 1px solid $color-gray-35;
  border-radius: 4px;
  box-shadow: none;
  color: $color-gray-45;
  font-size: $font-size-xs;
  padding: .5rem 2.2rem .5rem 1rem;

  &:active,
  &:focus {
    border: 1px solid $color-utility-positive;
    box-shadow: 0 0 5px $color-utility-positive;
    outline: none;
  }
}
